<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>WiFi Traffic
Date
Gigabits per second
Inbound from WiFi daily peak
Inbound from WiFi daily 90%
Outbound to WiFi daily peak
Outbound to WiFi daily 90%
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
