<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Charter Traffic
Date
Gigabits per second
Inbound to Charter daily peak
Outbound from Charter daily peak
Inbound from Charter daily 90%
Outbound from Charter daily 90%
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
